In [10]:
import requests
data = requests.get("https://www.worldcoinindex.com/")
import pandas as pd
df = pd.read_html(data.text)
df = df[0]
print(type(df))
print(df)
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')
df.to_excel(writer, sheet_name="Sample")

<class 'pandas.core.frame.DataFrame'>
       # Unnamed: 1            Name Ticker  Last price        %     24 high  \
0      1        NaN         Bitcoin    BTC    $ 58,134   +0.08%    $ 58,386
1      2        NaN        Ethereum    ETH  $ 2,082.44   +0.08%  $ 2,097.61
2      3        NaN          Ripple    XRP      $ 1.03   -2.83%      $ 1.06
3      4        NaN      Bittorrent    BTT  $ 0.009550   -1.36%  $ 0.009990
4      5        NaN            Tron    TRX  $ 0.122097   -1.18%  $ 0.125061
..   ...        ...             ...    ...         ...      ...         ...
97    96        NaN            Bora   BORA  $ 0.290166   -0.69%  $ 0.307221
98    97        NaN          Strike   STRK     $ 47.22   -1.76%     $ 49.51
99    98        NaN  Bitcoindiamond    BCD      $ 3.25   -0.84%      $ 3.30
100   99        NaN  Cryptocomchain    CRO  $ 0.202171   -0.20%  $ 0.205830
101  100        NaN   Dawn protocol   DAWN      $ 3.89  +12.25%      $ 4.14

         24 low Price Charts 7d  24 volume  # Coins Market cap
0      $ 58,078             NaN   $ 15.19B   18.67M    $ 1.08T
1    $ 2,078.67             NaN    $ 9.58B  115.38M  $ 240.29B
2        $ 1.03             NaN    $ 6.76B   45.90B   $ 47.07B
3    $ 0.009456             NaN    $ 3.30B  659.95B    $ 6.30B
4    $ 0.122054             NaN    $ 2.82B   71.65B    $ 8.74B
..          ...             ...        ...      ...        ...
97   $ 0.282684             NaN  $ 123.47M      NaN        NaN
98      $ 46.30             NaN  $ 122.69M      NaN        NaN
99       $ 3.20             NaN  $ 120.77M  153.75M  $ 499.34M
100  $ 0.200946             NaN  $ 120.29M   18.46B    $ 3.73B
101      $ 3.28             NaN  $ 119.82M      NaN        NaN

[102 rows x 12 columns]

In [14]:
print(df)

       # Unnamed: 1            Name Ticker  Last price        %     24 high  \
0      1        NaN         Bitcoin    BTC    $ 58,134   +0.08%    $ 58,386
1      2        NaN        Ethereum    ETH  $ 2,082.44   +0.08%  $ 2,097.61
2      3        NaN          Ripple    XRP      $ 1.03   -2.83%      $ 1.06
3      4        NaN      Bittorrent    BTT  $ 0.009550   -1.36%  $ 0.009990
4      5        NaN            Tron    TRX  $ 0.122097   -1.18%  $ 0.125061
..   ...        ...             ...    ...         ...      ...         ...
97    96        NaN            Bora   BORA  $ 0.290166   -0.69%  $ 0.307221
98    97        NaN          Strike   STRK     $ 47.22   -1.76%     $ 49.51
99    98        NaN  Bitcoindiamond    BCD      $ 3.25   -0.84%      $ 3.30
100   99        NaN  Cryptocomchain    CRO  $ 0.202171   -0.20%  $ 0.205830
101  100        NaN   Dawn protocol   DAWN      $ 3.89  +12.25%      $ 4.14

         24 low Price Charts 7d  24 volume  # Coins Market cap
0      $ 58,078             NaN   $ 15.19B   18.67M    $ 1.08T
1    $ 2,078.67             NaN    $ 9.58B  115.38M  $ 240.29B
2        $ 1.03             NaN    $ 6.76B   45.90B   $ 47.07B
3    $ 0.009456             NaN    $ 3.30B  659.95B    $ 6.30B
4    $ 0.122054             NaN    $ 2.82B   71.65B    $ 8.74B
..          ...             ...        ...      ...        ...
97   $ 0.282684             NaN  $ 123.47M      NaN        NaN
98      $ 46.30             NaN  $ 122.69M      NaN        NaN
99       $ 3.20             NaN  $ 120.77M  153.75M  $ 499.34M
100  $ 0.200946             NaN  $ 120.29M   18.46B    $ 3.73B
101      $ 3.28             NaN  $ 119.82M      NaN        NaN

[102 rows x 12 columns]

In [17]:
print(df.loc[:,"Name":"Last price"])

               Name Ticker  Last price
0           Bitcoin    BTC    $ 58,134
1          Ethereum    ETH  $ 2,082.44
2            Ripple    XRP      $ 1.03
3        Bittorrent    BTT  $ 0.009550
4              Tron    TRX  $ 0.122097
..              ...    ...         ...
97             Bora   BORA  $ 0.290166
98           Strike   STRK     $ 47.22
99   Bitcoindiamond    BCD      $ 3.25
100  Cryptocomchain    CRO  $ 0.202171
101   Dawn protocol   DAWN      $ 3.89

[102 rows x 3 columns]

In [22]:
df1 = df.iloc[0:2,1:3]
df2 = df.iloc[5:10,1:3]

pd.concat([df1,df2], keys=[1,2])

    Unnamed: 1         Name
1 0        NaN      Bitcoin
  1        NaN     Ethereum
2 5        NaN  Binancecoin
  6        NaN     Litecoin
  7        NaN        Enjin
  8        NaN          Eos
  9        NaN   Binanceusd

In [ ]:
df1 = df.iloc[0:2,1:3]

In [32]:
df1 = df.iloc[0:2,1:3]
df2 = df.iloc[0:2, 4:10]


pd.concat([df1,df2],axis=1)

,Unnamed: 1,Name,Last price,%,24 high,24 low,Price Charts 7d,24 volume
0,NaN,Bitcoin,"$ 58,134",+0.08%,"$ 58,386","$ 58,078",NaN,$ 15.19B
1,NaN,Ethereum,"$ 2,082.44",+0.08%,"$ 2,097.61","$ 2,078.67",NaN,$ 9.58B